@import "../styles.scss";

.minheight {
    height: 60vh;
}

.formheight {
    padding-bottom: 4vh;
    min-height: 80%;
    width: 400px;
}

.divWidth {
    width: 300px;
}

.linkclass {
    text-decoration: none;
}

.buttons {
    background-color: var(--primary-color) !important;
    color: #fff;
}

.footer-pages-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.work-in-progress {
    height: 400px;
}

.work-in-progress-H4{
    color: var(--primary-color) !important;
    font-size: 28px;
}